{% load static %}



.ras{
    text-align: center;
    font-size: 35px;
}

table {
    top:15px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;

    color: #656665;
    border: 2px solid #050505;
    border-radius: 8px;
    margin: auto;
    width: 800px;
    top: 900px;
    left: 500px;
}


th {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    color: #000;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
td {
    color: #000;
    font-size: 20px;
    background: #d7d9dbfd;
    height: 10px;
    padding: 0px 2px ;
    text-align: left;
}
.test{
    text-align: center;
    color:#000;
}
.opera {
 background: rgba(17, 162, 207,0.3);
  }

.balet{
    background:rgba(138, 113, 191,0.3);
}

.scena{
    background:rgba(232, 210, 7,0.3);
}