{% load static %}



.ras{
    text-align: center;
    font-size: 35px;
}

table {
    top:15px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    color: #656665;
    border: 2px solid #050505;
    border-radius: 8px;
    margin: auto;

    top: 900px;
    left: 500px;
}


th {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    color: #000;
}
h1 {
    text-align: center;
    color: #FFFFFF;


}
td {
    color: #000;
    font-size: 25px;
    background: rgba(17, 162, 207,0.3);
    height: 10px;
    padding: 0px 2px ;
    text-align: left;
    width: 200px;
}
.date{
    width: 2%;
}
.day{
    width: 1%;
    text-align:center;
}
.test{
    text-align: center;
    color:#000;
}
.opera {
  width: 30%;
  background: rgba(17, 162, 207,0.3);
  }

.balet{
    width: 15%;
    background: rgba(17, 162, 207,0.3);

}

.scena{
    width: 30%;
    background:rgba(17, 162, 207,0.3);;
}

.baseline {
vertical-align: baseline;
}

p{
   max-width: 45ch;

}
hr {
	margin: 0px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 4px solid #333;
}