{% load static %}
.test{
    margin: 0;
}

.ras{
    text-align: center;
    font-size: 35px;
}

table {

    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
    background: #ece9e0;
    color: #656665;
    border: 8px solid #ece9e0;
    border-radius: 20px;
    margin: auto;
    width: 800px;
    top: 900px;
    left: 500px;
}


th {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    color: #000;
}
h1 {
    text-align: center;
    color: #FFFFFF;
}
td {
    color: #000;
    font-size: 15px;
    background: #D8E3AB;
    height: 10px;
    padding: 0px 2px ;
    text-align: left;
}
.test{
    text-align: center;
    color:#000;
}