{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link type="text/css" href="{% static 'opera/css/styles.css' %}" rel="stylesheet"/>


</head>
<body>
<body class="body">
<header>
    <div class="ras">Расписание</div>
</header>

    <table>
        <tr>
            <th>Дата</th>
            <th>День</th>
            <th>Опера классы</th>
            <th>Балет классы</th>
            <th>Сцена</th>
        </tr>
        <tr>
            <th></th>
            <th></th>

        </tr>

        {% for i in posts %}

        <tr>
            <td class="date">
                <pre>{{i.date|date:"d F"}}</pre>
            </td>
            <td class="day">{{i.day}}</td>
            <td class="opera">

                {%if i.id == monday_id %}
                    {% for n in monday_text1 %}
                        <br><br>{{n}}
                    {%endfor%}

                {%elif i.id == tuesday_id%}
                    {% for n in tuesday_text1 %}
                <br><br>{{n}}
                        {% endfor%}

                {%elif i.id == wednesday_id%}
                    {% for n in wednesday_text1 %}
                        <br><br>{{n}}
                        {% endfor %}
                <p>{{wednesday_text}}</p>
                {%elif i.id == thursday_id%}
                <p>{{thursday_text}}</p>
                {%elif i.id == friday_id%}
                <p>{{ friday_text }}</p>
                {%elif i.id == saturday_id%}
                <p>{{saturday_text}}</p>
                {%elif i.id == sunday_id%}
                <p>{{sunday_text}}</p>
                {%endif%}

            </td>
            <td class="balet">
                {%if i.id == monday_id %}
                <p>{{monday_text_b}}</p>
                {%elif i.id == tuesday_id%}
                <p>{{tuesday_text_b}}</p>
                {%elif i.id == wednesday_id%}
                <p>{{wednesday_text_b}}</p>
                {%elif i.id == thursday_id%}
                <p>{{thursday_text_b}}</p>
                {%elif i.id == friday_id%}
                <p>{{friday_text_b}}</p>
                {%elif i.id == saturday_id%}
                <p>{{saturday_text_b}}</p>
                {%elif i.id == sunday_id%}
                <p>{{sunday_text_b}}</p>
                {%endif%}
            </td>
            <td class="scena">
                {%if i.id == monday_id %}
                <p>{{monday_text_s}}</p>
                    {%elif i.id == tuesday_id%}
                <p>{{tuesday_text_s}}</p>
                    {%elif i.id == wednesday_id%}
                <p>{{wednesday_text_s}}</p>
                    {%elif i.id == thursday_id%}
                    <p>{{thursday_text_s}}</p>
                    {%elif i.id == friday_id%}
                    <p>{{friday_text_s}}</p>
                    {%elif i.id == saturday_id%}
                    <p>{{saturday_text_s}}</p>
                    {%elif i.id == sunday_id%}
                    <p>{{sunday_text_s}}</p>
                    {%endif%}
            </td>
            {%endfor%}


        </tr>


    </table>
</div>
</body>
</html>


