{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
        <link type="text/css" href="{% static 'opera/css/styles.css' %}" rel="stylesheet" />


</head>
<body class="test">
<!--<body class="body">-->
    <header>
        <div class="ras">Расписание</div>
    </header>

<div>
<table>
        <tr>
            <th>Дата</th>
            <th>День </th>
            <th>Опера классы</th>
            <th>Балет классы</th>
            <th>Сцена</th>
        </tr>
        <tr>
            <th></th>
            <th></th>

        </tr>

      {% for i in posts %}

    <tr>
        <td><pre>{{i.date|date:"d F"}}</pre></td>
        <td class="test">{{i.day}}</td>
        <td>
            {%if i.id  == monday_id %}
            <pre>{{monday_text}}</pre>
            {%elif i.id == tuesday_id%}
            <pre>{{tuesday_text}}</pre>
            {%elif i.id == wednesday_id%}
            <pre>{{wednesday_text}}</pre>
            {%elif i.id == thursday_id%}
            <pre>{{thursday_text}}</pre>
            {%elif i.id == friday_id%}
            <pre>{{ friday_text }}</pre>
            {%elif i.id == saturday_id%}
            <pre>{{saturday_text}}</pre>
            {%elif i.id == sunday_id%}
            <pre>{{sunday_text}}</pre>
            {%endif%}
        </td>
        <td>
             {%if i.id  == monday_id %}
            <pre>{{monday_text_b}}</pre>
            {%elif i.id == tuesday_id%}
            <pre>{{tuesday_text_b}}</pre>
            {%elif i.id == wednesday_id%}
            <pre>{{wednesday_text_b}}</pre>
            {%elif i.id == thursday_id%}
            <pre>{{thursday_text_b}}</pre>
            {%elif i.id == friday_id%}
            <pre>{{friday_text_b}}</pre>
            {%elif i.id == saturday_id%}
            <pre>{{saturday_text_b}}</pre>
            {%elif i.id == sunday_id%}
            <pre>{{sunday_text_b}}</pre>
            {%endif%}
        </td>
        <td><pre>309 10:30-14:00 Дет.хор.
РК 309 15:00-17:30 Миз.репетиция Лючия Столобова Выгородки, реквизиты.
330 14:15-15:15 Хор, Богорад.
309 17:30-20:30 Миз.спевка Турандот ЧУдовский,Михайлов Выгорордки,реквизты.
329,330 18:00-21:00 Дет.хор.</pre></td>
        {%endfor%}
    </tr>



</table>
</div>
</body>
</html>


