{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'opera/css/styles.css' %}" rel="stylesheet"/>
    <title>Опера</title>
</head>
<header>
    <div class="ras">Опера</div>
</header>

    <table>
        <caption>Уроки</caption>
        <tr>
            <th rowspan="12">Фамилиия</th>
            <th rowspan="12">Уроки с дирижером</th>
            <th colspan="3">Банцевич</th>
            <th colspan="3"> Маркова</th>
            <th colspan="3"> Решетникова</th>
            <th colspan="3"> Иванова</th>
            <th colspan="3">Смирнова</th>
            <th rowspan="12">Text</th>

        </tr>
        <tr>
            <td>Час</td>
            <td>Название</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Название</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Название</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Название</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Название</td>
            <td>Пом-е</td>
            <td>Пом-е</td>

        </tr>
        <tr>
           <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
            <td rowspan="10">Инфа</td>
        </tr>
           <tr>
               <td>fdsfsd</td>
           </tr>



    </table>
</body>
</html>