{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link type="text/css" href="{% static 'opera/css/styles.css' %}" rel="stylesheet"/>
    <title>Опера</title>
</head>
<header>
</header>
<body>
    <table>
        <caption></caption>
        <tr>
            <td rowspan="9">Фамилия</td>
            <td rowspan="9">Уроки с Дирижером</td>
            <td colspan="15">Уроки</td>
            <td rowspan="9">Какая-то инфа</td>
            <td colspan="4">Репетиции</td>
            <td colspan="2">Спектакль</td>

        </tr>
        <tr>
            <td colspan="3">Банцевич</td>
            <td colspan="3">Маркова</td>
            <td colspan="3">Решетникова</td>
            <td colspan="3">Иванова</td>
            <td colspan="3">Смирнова</td>
            <td>Спект</td>
            <td>Спект</td>
            <td>Спект</td>
            <td>Спект</td>
            <td>Утро</td>
            <td>Вечер</td>

        </tr>
        <tr>
           <td>Пом-е</td>
            <td>Час</td>
            <td>Наз-е</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Наз-е</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Наз-е</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Наз-е</td>
            <td>Пом-е</td>
            <td>Час</td>
            <td>Наз-е</td>
            <td>Назв</td>
            <td>Назв</td>
            <td>Назв</td>
            <td>Назв</td>
            <td rowspan="2">&quot;Назв спек&quot;</td>
            <td rowspan="2">&quot;Назв спек&quot;</td>

        </tr>
            {% for i, j ,y in mylist  %}
            <td rowspan="6">{{i}}</td>
            <td rowspan="6">{{j}}</td>
            <td rowspan="6">{{y}}</td>
            {% endfor %}
            <td>Помещ</td>
            <td>Помещ</td>
            <td>Помещ</td>
            <td>Помещ</td>


        </tr>
          <tr>
            <td>Час</td>
            <td>Час</td>
            <td>Час</td>
            <td>Час</td>
            <td>Дириж</td>
            <td>Дириж</td>
          </tr>
          <tr>
            <td>Дириж</td>
            <td>Дириж</td>
            <td>Дириж</td>
            <td>Дириж</td>
            <td>Режис</td>
           <td>Режис</td>
          </tr>
          <tr>
            <td>Режис</td>
            <td>Режис</td>
            <td>Режис</td>
            <td>Режис</td>
            <td>Хорм</td>
            <td>Хорм</td>
          </tr>
          <tr class="row7">
            <td>П. режис</td>
            <td>П. режис</td>
            <td>П. режис</td>
            <td>П. режис</td>
            <td>Конц</td>
            <td>Конц</td>
          </tr>
          <tr>
            <td>Унивс</td>
            <td>Унивс</td>
            <td>Унивс</td>
            <td>Унивс</td>
            <td>П. режис</td>
            <td>П. режис</td>
          </tr>
         {% for i in users %}

        <tr>
            <td>{{forloop.counter}} {{i}}</td>
            <td>
                {{test_dict[i]}}
            </td>
            <td>{{forloop.counter}}</td>
            <td>

            </td>
            <td>Наз</td>
            <td>{{forloop.counter}}</td>
            <td>Время</td>
            <td>Наз</td>
            <td>{{forloop.counter}}</td>
            <td>Время</td>
            <td>Наз</td>
            <td>{{forloop.counter}}</td>
            <td>Время</td>
            <td>Наз</td>
            <td>{{forloop.counter}}</td>
            <td>Время</td>
            <td>Наз</td>
            <td></td>
          {% endfor %}

        </tr>


    </table>
</body>
</html>